@using WebApp.Models
@model IQueryable<User>

<!DOCTYPE html>
<html>
<head>
    <title>List of Users</title>
</head>
<body>


    <h1>List Users</h1>
    <a href="/Home/Login">Back to the login screen!</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">UserID</th>
                <th scope="col">UserName</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">BirthYear</th>
                <th scope="col">BirthPlace</th>
                <th scope="col">City</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <th scope="row">@item.UserID</th>
                <td>@item.UserName</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.BirthYear</td>
                <td>@item.BirthPlace</td>
                <td>@item.City</td>
            </tr>
            }
        </tbody>
        </table>
</body>
</html>
